In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('datasets/test.csv')

In [3]:
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [4]:
df.columns

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type'],
      dtype='object')

In [5]:
df.columns = [col.lower().replace(' ','_') for col in df.columns]

In [6]:
df.rename(columns={'3ssn_porch':'ssn3_porch', 
                   '2nd_flr_sf': 'flr2nd_sf'},inplace=True)

In [7]:
df.columns

Index(['id', 'pid', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area',
       'street', 'alley', 'lot_shape', 'land_contour', 'utilities',
       'lot_config', 'land_slope', 'neighborhood', 'condition_1',
       'condition_2', 'bldg_type', 'house_style', 'overall_qual',
       'overall_cond', 'year_built', 'year_remod/add', 'roof_style',
       'roof_matl', 'exterior_1st', 'exterior_2nd', 'mas_vnr_type',
       'mas_vnr_area', 'exter_qual', 'exter_cond', 'foundation', 'bsmt_qual',
       'bsmt_cond', 'bsmt_exposure', 'bsmtfin_type_1', 'bsmtfin_sf_1',
       'bsmtfin_type_2', 'bsmtfin_sf_2', 'bsmt_unf_sf', 'total_bsmt_sf',
       'heating', 'heating_qc', 'central_air', 'electrical', '1st_flr_sf',
       'flr2nd_sf', 'low_qual_fin_sf', 'gr_liv_area', 'bsmt_full_bath',
       'bsmt_half_bath', 'full_bath', 'half_bath', 'bedroom_abvgr',
       'kitchen_abvgr', 'kitchen_qual', 'totrms_abvgrd', 'functional',
       'fireplaces', 'fireplace_qu', 'garage_type', 'garage_yr_blt',
       'garage_finish', 'garage_cars', 'garage_area', 'garage_qual',
       'garage_cond', 'paved_drive', 'wood_deck_sf', 'open_porch_sf',
       'enclosed_porch', 'ssn3_porch', 'screen_porch', 'pool_area', 'pool_qc',
       'fence', 'misc_feature', 'misc_val', 'mo_sold', 'yr_sold', 'sale_type'],
      dtype='object')

In [8]:
df.isnull().sum().sum()

4171

In [9]:
df.shape

(878, 80)

#### ms_subclass

In [10]:
#from data dictionary provided
values_for_ms_subclass = ('020','030','040','045','045','050','060','070','075','080','085','090','120','150','160','180','190')

In [11]:
df.ms_subclass = [str(entry) for entry in df.ms_subclass]

In [12]:
df.ms_subclass = ['0'+ entry if len(entry)==2 else entry for entry in df.ms_subclass]

In [13]:
df.ms_subclass.unique()

array(['190', '090', '060', '030', '020', '160', '120', '070', '080',
       '050', '085', '045', '075', '180', '040'], dtype=object)

#### mszoning

In [14]:
dict_ms_zoning = {'C (all)':'C', 
                 'A (agr)':'A',
                 'I (all)':'I',
                 'RL':'RL',
                 'RM':'RM',
                 'FV':'FV',
                 'RH':'RH'}

In [15]:
df.ms_zoning = [dict_ms_zoning[entry] for entry in df.ms_zoning]#cleaned entries

In [16]:
df.ms_zoning.value_counts(dropna=False)

RL    674
RM    146
FV     38
RH     13
C       6
I       1
Name: ms_zoning, dtype: int64

#### lot frontage

In [17]:
df.lot_frontage.interpolate(method='nearest',inplace=True)

In [18]:
df.lot_frontage.value_counts(dropna=False)

60.0     120
80.0      50
70.0      47
75.0      45
85.0      32
        ...
101.0      1
113.0      1
152.0      1
30.0       1
182.0      1
Name: lot_frontage, Length: 104, dtype: int64

In [19]:
df.lot_area.isnull().sum()

0

In [20]:
df[df.lot_area<0]

Empty DataFrame
Columns: [id, pid, ms_subclass, ms_zoning, lot_frontage, lot_area, street, alley, lot_shape, land_contour, utilities, lot_config, land_slope, neighborhood, condition_1, condition_2, bldg_type, house_style, overall_qual, overall_cond, year_built, year_remod/add, roof_style, roof_matl, exterior_1st, exterior_2nd, mas_vnr_type, mas_vnr_area, exter_qual, exter_cond, foundation, bsmt_qual, bsmt_cond, bsmt_exposure, bsmtfin_type_1, bsmtfin_sf_1, bsmtfin_type_2, bsmtfin_sf_2, bsmt_unf_sf, total_bsmt_sf, heating, heating_qc, central_air, electrical, 1st_flr_sf, flr2nd_sf, low_qual_fin_sf, gr_liv_area, bsmt_full_bath, bsmt_half_bath, full_bath, half_bath, bedroom_abvgr, kitchen_abvgr, kitchen_qual, totrms_abvgrd, functional, fireplaces, fireplace_qu, garage_type, garage_yr_blt, garage_finish, garage_cars, garage_area, garage_qual, garage_cond, paved_drive, wood_deck_sf, open_porch_sf, enclosed_porch, ssn3_porch, screen_porch, pool_area, pool_qc, fence, misc_feature, misc_val, mo_sold, yr_sold, sale_type]
Index: []

[0 rows x 80 columns]

#### street

In [21]:
df.street.isnull().sum()

0

#### alley

In [22]:
df.alley.value_counts(dropna=False)

NaN     820
Grvl     35
Pave     23
Name: alley, dtype: int64

#### Lot Shape (Ordinal): General shape of property

In [23]:
df.lot_shape.isnull().sum()

0

#### Land Contour

In [24]:
df.land_contour.isna().sum()

0

#### Utilities

In [25]:
df.utilities.value_counts(dropna=False)

AllPub    877
NoSewr      1
Name: utilities, dtype: int64

#### Lot config

In [26]:
df.lot_config.value_counts(dropna=False)

Inside     636
Corner     163
CulDSac     49
FR2         25
FR3          5
Name: lot_config, dtype: int64

In [27]:
df.drop(columns=['alley','misc_feature'], inplace=True)

In [28]:
value_validation_nominal={}
for col in co:
    try:
        keys = eval('dict_' + col).keys()
        flag = set(df[col].unique()).issubset(keys)
        value_validation_nominal[col] = flag
    except NameError:
        pass
    except KeyError:
        pass
value_validation_nominal

NameError: name 'nominal' is not defined

#### Neighborhood

In [33]:
df[df.mas_vnr_area.isnull()]

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,lot_shape,land_contour,utilities,...,enclosed_porch,ssn3_porch,screen_porch,pool_area,pool_qc,fence,misc_val,mo_sold,yr_sold,sale_type
865,868,907260030,060,RL,70.0,8749,Pave,Reg,Lvl,AllPub,...,0,0,0,0,NaN,NaN,0,11,2009,WD

In [34]:
df.loc[865,'mas_vnr_area'] = df.mas_vnr_area.mean()

In [35]:
df[df.mas_vnr_area.isnull()]

Empty DataFrame
Columns: [id, pid, ms_subclass, ms_zoning, lot_frontage, lot_area, street, lot_shape, land_contour, utilities, lot_config, land_slope, neighborhood, condition_1, condition_2, bldg_type, house_style, overall_qual, overall_cond, year_built, year_remod/add, roof_style, roof_matl, exterior_1st, exterior_2nd, mas_vnr_type, mas_vnr_area, exter_qual, exter_cond, foundation, bsmt_qual, bsmt_cond, bsmt_exposure, bsmtfin_type_1, bsmtfin_sf_1, bsmtfin_type_2, bsmtfin_sf_2, bsmt_unf_sf, total_bsmt_sf, heating, heating_qc, central_air, electrical, 1st_flr_sf, flr2nd_sf, low_qual_fin_sf, gr_liv_area, bsmt_full_bath, bsmt_half_bath, full_bath, half_bath, bedroom_abvgr, kitchen_abvgr, kitchen_qual, totrms_abvgrd, functional, fireplaces, fireplace_qu, garage_type, garage_yr_blt, garage_finish, garage_cars, garage_area, garage_qual, garage_cond, paved_drive, wood_deck_sf, open_porch_sf, enclosed_porch, ssn3_porch, screen_porch, pool_area, pool_qc, fence, misc_val, mo_sold, yr_sold, sale_type]
Index: []

[0 rows x 78 columns]

In [37]:
continuous= ['lot_frontage','lot_area','mas_vnr_area','bsmtfin_sf_1',
    'bsmtfin_sf_2','bsmt_unf_sf', 'total_bsmt_sf','1st_flr_sf', 'flr2nd_sf', 'low_qual_fin_sf',
    'gr_liv_area','garage_area','wood_deck_sf', 'open_porch_sf', 'enclosed_porch', 'ssn3_porch',
       'screen_porch', 'pool_area','misc_val']

In [38]:
df[continuous].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lot_frontage     878 non-null    float64
 1   lot_area         878 non-null    int64
 2   mas_vnr_area     878 non-null    float64
 3   bsmtfin_sf_1     878 non-null    int64
 4   bsmtfin_sf_2     878 non-null    int64
 5   bsmt_unf_sf      878 non-null    int64
 6   total_bsmt_sf    878 non-null    int64
 7   1st_flr_sf       878 non-null    int64
 8   flr2nd_sf        878 non-null    int64
 9   low_qual_fin_sf  878 non-null    int64
 10  gr_liv_area      878 non-null    int64
 11  garage_area      878 non-null    int64
 12  wood_deck_sf     878 non-null    int64
 13  open_porch_sf    878 non-null    int64
 14  enclosed_porch   878 non-null    int64
 15  ssn3_porch       878 non-null    int64
 16  screen_porch     878 non-null    int64
 17  pool_area        878 non-null    int64
 18  misc_val         878 non-null    int64
dtypes: float64(2), int64(17)
memory usage: 130.5 KB

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
df[continuous]=pd.DataFrame(StandardScaler().fit_transform(df[continuous]), columns=df[continuous].columns)

In [41]:
df[continuous].isnull().sum()

lot_frontage       0
lot_area           0
mas_vnr_area       0
bsmtfin_sf_1       0
bsmtfin_sf_2       0
bsmt_unf_sf        0
total_bsmt_sf      0
1st_flr_sf         0
flr2nd_sf          0
low_qual_fin_sf    0
gr_liv_area        0
garage_area        0
wood_deck_sf       0
open_porch_sf      0
enclosed_porch     0
ssn3_porch         0
screen_porch       0
pool_area          0
misc_val           0
dtype: int64

#### saving the dataset with cleaned continuous variables, less time so did not clean all variables

In [ ]:
df[['pid']+continuous].to_csv('datasets/Model_2_continuous.csv',index=False)