In [167]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [168]:
df = pd.read_csv('datasets/test.csv')

In [169]:
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [170]:
df.columns

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type'],
      dtype='object')

In [171]:
df.columns = [col.lower().replace(' ','_') for col in df.columns]

In [172]:
df.rename(columns={'3ssn_porch':'ssn3_porch', 
                   '2nd_flr_sf': 'flr2nd_sf'},inplace=True)

In [173]:
df.columns

Index(['id', 'pid', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area',
       'street', 'alley', 'lot_shape', 'land_contour', 'utilities',
       'lot_config', 'land_slope', 'neighborhood', 'condition_1',
       'condition_2', 'bldg_type', 'house_style', 'overall_qual',
       'overall_cond', 'year_built', 'year_remod/add', 'roof_style',
       'roof_matl', 'exterior_1st', 'exterior_2nd', 'mas_vnr_type',
       'mas_vnr_area', 'exter_qual', 'exter_cond', 'foundation', 'bsmt_qual',
       'bsmt_cond', 'bsmt_exposure', 'bsmtfin_type_1', 'bsmtfin_sf_1',
       'bsmtfin_type_2', 'bsmtfin_sf_2', 'bsmt_unf_sf', 'total_bsmt_sf',
       'heating', 'heating_qc', 'central_air', 'electrical', '1st_flr_sf',
       'flr2nd_sf', 'low_qual_fin_sf', 'gr_liv_area', 'bsmt_full_bath',
       'bsmt_half_bath', 'full_bath', 'half_bath', 'bedroom_abvgr',
       'kitchen_abvgr', 'kitchen_qual', 'totrms_abvgrd', 'functional',
       'fireplaces', 'fireplace_qu', 'garage_type', 'garage_yr_blt',
       'garage_finish', 'garage_cars', 'garage_area', 'garage_qual',
       'garage_cond', 'paved_drive', 'wood_deck_sf', 'open_porch_sf',
       'enclosed_porch', 'ssn3_porch', 'screen_porch', 'pool_area', 'pool_qc',
       'fence', 'misc_feature', 'misc_val', 'mo_sold', 'yr_sold', 'sale_type'],
      dtype='object')

In [174]:
df.isnull().sum().sum()

4171

In [175]:
df.shape

(878, 80)

#### ms_subclass

In [176]:
#from data dictionary provided
values_for_ms_subclass = ('020','030','040','045','045','050','060','070','075','080','085','090','120','150','160','180','190')

In [177]:
df.ms_subclass = [str(entry) for entry in df.ms_subclass]

In [178]:
df.ms_subclass = ['0'+ entry if len(entry)==2 else entry for entry in df.ms_subclass]

In [179]:
df.ms_subclass.unique()

array(['190', '090', '060', '030', '020', '160', '120', '070', '080',
       '050', '085', '045', '075', '180', '040'], dtype=object)

#### mszoning

In [180]:
dict_ms_zoning = {'C (all)':'C', 
                 'A (agr)':'A',
                 'I (all)':'I',
                 'RL':'RL',
                 'RM':'RM',
                 'FV':'FV',
                 'RH':'RH'}

In [181]:
df.ms_zoning = [dict_ms_zoning[entry] for entry in df.ms_zoning]#cleaned entries

In [182]:
df.ms_zoning.value_counts(dropna=False)

RL    674
RM    146
FV     38
RH     13
C       6
I       1
Name: ms_zoning, dtype: int64

#### lot frontage

In [183]:
df.lot_frontage.interpolate(method='nearest',inplace=True)

In [184]:
df.lot_frontage.describe()

count    878.000000
mean      69.813212
std       23.176861
min       21.000000
25%       59.000000
50%       68.500000
75%       80.000000
max      182.000000
Name: lot_frontage, dtype: float64

In [185]:
df.lot_area.isnull().sum()

0

#### street

In [186]:
df.street.isnull().sum()

0

In [187]:
df.street.value_counts()

Pave    873
Grvl      5
Name: street, dtype: int64

#### alley

In [188]:
df.alley.value_counts(dropna=False)

NaN     820
Grvl     35
Pave     23
Name: alley, dtype: int64

**Drop alley**

#### Lot Shape (Ordinal): General shape of property

In [189]:
df.lot_shape.isnull().sum()

0

In [190]:
df.lot_shape.unique()

array(['Reg', 'IR1', 'IR3', 'IR2'], dtype=object)

#### Land Contour

In [191]:
df.land_contour.isna().sum()

0

In [192]:
df.land_contour.unique()

array(['Lvl', 'Bnk', 'Low', 'HLS'], dtype=object)

#### Utilities

In [193]:
df.utilities.value_counts(dropna=False)

AllPub    877
NoSewr      1
Name: utilities, dtype: int64

#### Lot config

In [194]:
df.lot_config.value_counts(dropna=False)

Inside     636
Corner     163
CulDSac     49
FR2         25
FR3          5
Name: lot_config, dtype: int64

In [195]:
df.drop(columns=['alley','misc_feature'], inplace=True)

#### Neighborhood

In [196]:
df.neighborhood.value_counts(dropna=False)

NAmes      133
CollgCr     87
OldTown     76
Somerst     52
Edwards     50
Gilbert     49
NridgHt     44
NWAmes      44
Sawyer      40
SawyerW     38
Mitchel     32
Crawfor     32
BrkSide     32
Timber      24
IDOTRR      24
NoRidge     23
ClearCr     17
SWISU       16
MeadowV     13
StoneBr     13
BrDale      11
Veenker      7
Blmngtn      6
NPkVill      6
Greens       5
Blueste      4
Name: neighborhood, dtype: int64

In [197]:
df.loc[df["neighborhood"] == "NAmes", "neighborhood"] = 'Names'

#### Building Type

In [198]:
df['bldg_type'].unique()

array(['2fmCon', 'Duplex', '1Fam', 'TwnhsE', 'Twnhs'], dtype=object)

In [199]:
df.loc[df["bldg_type"] == "Twnhs", "bldg_type"] = 'TwnhsI'
df.loc[df['bldg_type']=='2fmCon',"bldg_type"] = '2FmCon'
df.loc[df['bldg_type']=='Duplex', "bldg_type"] = 'Duplx'

#### mas_vnr_type

In [200]:
df['mas_vnr_type'].unique()

array(['None', 'BrkFace', 'Stone', 'BrkCmn', 'CBlock', nan], dtype=object)

#### garage type

In [201]:
df['garage_type'].unique()

array(['Detchd', 'Attchd', 'BuiltIn', nan, '2Types', 'CarPort', 'Basment'],
      dtype=object)

#### overall_condition

In [202]:
df.overall_cond.unique()

array([8, 4, 5, 6, 7, 9, 3, 2, 1])

#### overall quality

In [203]:
df.overall_qual.unique()

array([ 6,  5,  7,  4,  8,  3,  9, 10,  2])

#### bsmt_qual

In [204]:
df.bsmt_qual.unique()

array(['Fa', 'Gd', 'TA', 'Ex', nan, 'Po'], dtype=object)

#### bsmt_cond

In [205]:
df.bsmt_cond.unique()

array(['TA', 'Gd', nan, 'Fa'], dtype=object)

#### bsmt_exposure

In [206]:
df.bsmt_exposure.unique()

array(['No', 'Av', nan, 'Mn', 'Gd'], dtype=object)

#### bsmtfin_type_1

In [207]:
df.bsmtfin_type_1.unique()

array(['Unf', 'GLQ', 'BLQ', 'Rec', 'ALQ', nan, 'LwQ'], dtype=object)

#### bsmtfin_type_2

In [208]:
df.bsmtfin_type_2.unique()

array(['Unf', 'LwQ', nan, 'ALQ', 'GLQ', 'Rec', 'BLQ'], dtype=object)

#### fireplace_qu

In [209]:
df.fireplace_qu.unique()

array([nan, 'Gd', 'Fa', 'TA', 'Po', 'Ex'], dtype=object)

#### garage_finish

In [210]:
df.garage_finish.unique()

array(['Unf', 'Fin', 'RFn', nan], dtype=object)

#### garage_qual

In [211]:
df.garage_qual.unique()

array(['Po', 'TA', 'Fa', nan, 'Gd'], dtype=object)

#### garage_cond

In [212]:
df.garage_cond.unique()

array(['Po', 'TA', nan, 'Fa', 'Gd', 'Ex'], dtype=object)

#### pool_qc

In [213]:
df.drop(columns='pool_qc',inplace=True)

#### fence

In [214]:
df.drop(columns='fence',inplace=True)

#### bsmt_full_bath

In [215]:
df.bsmt_full_bath.value_counts(dropna=False)

0    507
1    356
2     15
Name: bsmt_full_bath, dtype: int64

#### bsmt_half_bath

In [216]:
df.bsmt_half_bath.value_counts(dropna=False)

0    829
1     49
Name: bsmt_half_bath, dtype: int64

#### garage_yr_blt

In [217]:
df.garage_yr_blt.value_counts(dropna=False)

NaN       45
2005.0    37
2006.0    35
2007.0    30
2004.0    27
          ..
1917.0     1
1923.0     1
1928.0     1
1906.0     1
1908.0     1
Name: garage_yr_blt, Length: 94, dtype: int64

In [260]:
df[df.garage_yr_blt>2022]

Empty DataFrame
Columns: [id, pid, ms_subclass, ms_zoning, lot_frontage, lot_area, street, lot_shape, land_contour, utilities, lot_config, land_slope, neighborhood, condition_1, condition_2, bldg_type, house_style, overall_qual, overall_cond, year_built, year_remod/add, roof_style, roof_matl, exterior_1st, exterior_2nd, mas_vnr_type, mas_vnr_area, exter_qual, exter_cond, foundation, bsmt_qual, bsmt_cond, bsmt_exposure, bsmtfin_type_1, bsmtfin_sf_1, bsmtfin_type_2, bsmtfin_sf_2, bsmt_unf_sf, total_bsmt_sf, heating, heating_qc, central_air, electrical, 1st_flr_sf, flr2nd_sf, low_qual_fin_sf, gr_liv_area, bsmt_full_bath, bsmt_half_bath, full_bath, half_bath, bedroom_abvgr, kitchen_abvgr, kitchen_qual, totrms_abvgrd, functional, fireplaces, fireplace_qu, garage_type, garage_yr_blt, garage_finish, garage_cars, garage_area, garage_qual, garage_cond, paved_drive, wood_deck_sf, open_porch_sf, enclosed_porch, ssn3_porch, screen_porch, pool_area, misc_val, mo_sold, yr_sold, sale_type]
Index: []

[0 rows x 76 columns]

In [218]:
df.garage_yr_blt.interpolate(method='nearest',inplace=True)

#### garage_cars

In [219]:
df.garage_cars.value_counts(dropna=False)

2    467
1    254
3    110
0     44
4      3
Name: garage_cars, dtype: int64

#### lot_area

In [220]:
df.lot_area.describe()

count       878.000000
mean      10307.033030
std       10002.674602
min        1477.000000
25%        7297.250000
50%        9446.000000
75%       11589.000000
max      215245.000000
Name: lot_area, dtype: float64

In [221]:
df.lot_area.isnull().sum()

0

#### mas_vnr_area

In [222]:
df.mas_vnr_area.describe()

count     877.000000
mean      106.236032
std       187.158908
min         0.000000
25%         0.000000
50%         0.000000
75%       172.000000
max      1378.000000
Name: mas_vnr_area, dtype: float64

In [223]:
df.mas_vnr_area.isnull().sum()

1

In [224]:
df[df.mas_vnr_area.isnull()]

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,lot_shape,land_contour,utilities,...,wood_deck_sf,open_porch_sf,enclosed_porch,ssn3_porch,screen_porch,pool_area,misc_val,mo_sold,yr_sold,sale_type
865,868,907260030,060,RL,70.0,8749,Pave,Reg,Lvl,AllPub,...,0,48,0,0,0,0,0,11,2009,WD

In [225]:
df.loc[865,'mas_vnr_area'] = df.mas_vnr_area.mean()

#### bsmtfin_sf_1

In [226]:
df.bsmtfin_sf_1.describe()

count     878.000000
mean      441.328018
std       438.457329
min         0.000000
25%         0.000000
50%       373.000000
75%       734.750000
max      2288.000000
Name: bsmtfin_sf_1, dtype: float64

In [227]:
df.bsmtfin_sf_1.isnull().sum()

0

#### bsmtfin_sf_2

In [228]:
df.bsmtfin_sf_2.describe()

count     878.000000
mean       53.896355
std       178.632355
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      1526.000000
Name: bsmtfin_sf_2, dtype: float64

In [229]:
df.bsmtfin_sf_1.isnull().sum()

0

#### bsmt_unf_sf

In [230]:
df.bsmt_unf_sf.describe()

count     878.000000
mean      539.133257
std       426.172161
min         0.000000
25%       216.000000
50%       452.000000
75%       780.000000
max      2046.000000
Name: bsmt_unf_sf, dtype: float64

In [231]:
df.bsmtfin_sf_1.isnull().sum()

0

#### total_bsmt_sf

In [232]:
df.total_bsmt_sf.describe()

count     878.000000
mean     1034.357631
std       413.446291
min         0.000000
25%       789.000000
50%       975.000000
75%      1247.000000
max      2630.000000
Name: total_bsmt_sf, dtype: float64

In [233]:
df.bsmtfin_sf_1.isnull().sum()

0

#### 1st_flr_sf

In [234]:
df['1st_flr_sf'].describe()

count     878.000000
mean     1145.787016
std       375.264111
min       407.000000
25%       864.000000
50%      1063.000000
75%      1358.000000
max      2674.000000
Name: 1st_flr_sf, dtype: float64

In [235]:
df['1st_flr_sf'].isnull().sum()

0

#### flr2nd_sf

In [236]:
df.flr2nd_sf.describe()

count     878.000000
mean      348.398633
std       432.985566
min         0.000000
25%         0.000000
50%         0.000000
75%       720.000000
max      2065.000000
Name: flr2nd_sf, dtype: float64

In [237]:
df.flr2nd_sf.isnull().sum()

0

#### low_qual_fin_sf

In [238]:
df.low_qual_fin_sf.describe()

count    878.000000
mean       2.728929
std       32.572548
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      481.000000
Name: low_qual_fin_sf, dtype: float64

In [239]:
df.low_qual_fin_sf.isnull().sum()

0

#### gr_liv_area

In [240]:
df.gr_liv_area.describe()

count     878.000000
mean     1496.914579
std       506.468967
min       407.000000
25%      1114.000000
50%      1436.000000
75%      1779.000000
max      4476.000000
Name: gr_liv_area, dtype: float64

In [241]:
df.gr_liv_area.isnull().sum()

0

#### garage_area

In [243]:
df.garage_area.describe()

count     878.000000
mean      470.362187
std       212.734075
min         0.000000
25%       322.500000
50%       473.000000
75%       576.000000
max      1488.000000
Name: garage_area, dtype: float64

In [244]:
df.garage_area.isnull().sum()

0

#### wood_deck_sf

In [245]:
df.wood_deck_sf.describe()

count    878.000000
mean      93.430524
std      121.181702
min        0.000000
25%        0.000000
50%        0.000000
75%      170.750000
max      690.000000
Name: wood_deck_sf, dtype: float64

In [246]:
df.wood_deck_sf.isnull().sum()

0

#### open_porch_sf

In [247]:
df.open_porch_sf.describe()

count    878.000000
mean      47.070615
std       68.180939
min        0.000000
25%        0.000000
50%       27.000000
75%       69.750000
max      742.000000
Name: open_porch_sf, dtype: float64

In [248]:
df.open_porch_sf.isnull().sum()

0

#### enclosed_porch

In [249]:
df.enclosed_porch.describe()

count     878.000000
mean       24.064920
std        73.249463
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      1012.000000
Name: enclosed_porch, dtype: float64

In [250]:
df.enclosed_porch.isnull().sum()

0

#### ssn3_porch

In [251]:
df.ssn3_porch.describe()

count    878.000000
mean       2.597950
std       24.962482
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      360.000000
Name: ssn3_porch, dtype: float64

In [252]:
df.ssn3_porch.isnull().sum()

0

#### screen_porch

In [253]:
df.screen_porch.describe()

count    878.000000
mean      14.830296
std       53.003794
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      576.000000
Name: screen_porch, dtype: float64

In [254]:
df.screen_porch.isnull().sum()

0

#### pool_area

In [255]:
df.pool_area.describe()

count    878.000000
mean       1.884966
std       29.916672
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      555.000000
Name: pool_area, dtype: float64

In [256]:
df.pool_area.isnull().sum()

0

#### misc_val

In [257]:
df.misc_val.describe()

count      878.000000
mean        48.498861
std        550.169317
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      15500.000000
Name: misc_val, dtype: float64

In [258]:
df.misc_val.isnull().sum()

0

**Checking for dataframe as a whole now**

In [259]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               878 non-null    int64
 1   pid              878 non-null    int64
 2   ms_subclass      878 non-null    object
 3   ms_zoning        878 non-null    object
 4   lot_frontage     878 non-null    float64
 5   lot_area         878 non-null    int64
 6   street           878 non-null    object
 7   lot_shape        878 non-null    object
 8   land_contour     878 non-null    object
 9   utilities        878 non-null    object
 10  lot_config       878 non-null    object
 11  land_slope       878 non-null    object
 12  neighborhood     878 non-null    object
 13  condition_1      878 non-null    object
 14  condition_2      878 non-null    object
 15  bldg_type        878 non-null    object
 16  house_style      878 non-null    object
 17  overall_qual     878 non-null    int64
 18  overall_cond     878 non-null    int64
 19  year_built       878 non-null    int64
 20  year_remod/add   878 non-null    int64
 21  roof_style       878 non-null    object
 22  roof_matl        878 non-null    object
 23  exterior_1st     878 non-null    object
 24  exterior_2nd     878 non-null    object
 25  mas_vnr_type     877 non-null    object
 26  mas_vnr_area     878 non-null    float64
 27  exter_qual       878 non-null    object
 28  exter_cond       878 non-null    object
 29  foundation       878 non-null    object
 30  bsmt_qual        853 non-null    object
 31  bsmt_cond        853 non-null    object
 32  bsmt_exposure    853 non-null    object
 33  bsmtfin_type_1   853 non-null    object
 34  bsmtfin_sf_1     878 non-null    int64
 35  bsmtfin_type_2   853 non-null    object
 36  bsmtfin_sf_2     878 non-null    int64
 37  bsmt_unf_sf      878 non-null    int64
 38  total_bsmt_sf    878 non-null    int64
 39  heating          878 non-null    object
 40  heating_qc       878 non-null    object
 41  central_air      878 non-null    object
 42  electrical       877 non-null    object
 43  1st_flr_sf       878 non-null    int64
 44  flr2nd_sf        878 non-null    int64
 45  low_qual_fin_sf  878 non-null    int64
 46  gr_liv_area      878 non-null    int64
 47  bsmt_full_bath   878 non-null    int64
 48  bsmt_half_bath   878 non-null    int64
 49  full_bath        878 non-null    int64
 50  half_bath        878 non-null    int64
 51  bedroom_abvgr    878 non-null    int64
 52  kitchen_abvgr    878 non-null    int64
 53  kitchen_qual     878 non-null    object
 54  totrms_abvgrd    878 non-null    int64
 55  functional       878 non-null    object
 56  fireplaces       878 non-null    int64
 57  fireplace_qu     456 non-null    object
 58  garage_type      834 non-null    object
 59  garage_yr_blt    878 non-null    float64
 60  garage_finish    833 non-null    object
 61  garage_cars      878 non-null    int64
 62  garage_area      878 non-null    int64
 63  garage_qual      833 non-null    object
 64  garage_cond      833 non-null    object
 65  paved_drive      878 non-null    object
 66  wood_deck_sf     878 non-null    int64
 67  open_porch_sf    878 non-null    int64
 68  enclosed_porch   878 non-null    int64
 69  ssn3_porch       878 non-null    int64
 70  screen_porch     878 non-null    int64
 71  pool_area        878 non-null    int64
 72  misc_val         878 non-null    int64
 73  mo_sold          878 non-null    int64
 74  yr_sold          878 non-null    int64
 75  sale_type        878 non-null    object
dtypes: float64(3), int64(34), object(39)
memory usage: 521.4+ KB

**Need for imputation for missing values in columns**

In [261]:
from sklearn.impute import SimpleImputer
imp_most_frequent = SimpleImputer(strategy= "most_frequent")
#using most frequent strategy in SImpleImputer()

In [262]:
nominal_nan= ['mas_vnr_type','garage_type']
df[nominal_nan] = pd.DataFrame(imp_most_frequent.fit_transform(df[nominal_nan]),
                       columns=nominal_nan)
#imputing and saving back
df[nominal_nan].isnull().sum()

mas_vnr_type    0
garage_type     0
dtype: int64

In [267]:
ordinal_nan= ['bsmt_qual','bsmt_cond','bsmt_exposure','bsmtfin_type_1','bsmtfin_type_2','electrical','garage_finish','garage_qual','garage_cond','fireplace_qu']

In [268]:
df[ordinal_nan] = pd.DataFrame(imp_most_frequent.fit_transform(df[ordinal_nan]),
                       columns=ordinal_nan)
#imputing and saving back
df[ordinal_nan].isnull().sum()

bsmt_qual         0
bsmt_cond         0
bsmt_exposure     0
bsmtfin_type_1    0
bsmtfin_type_2    0
electrical        0
garage_finish     0
garage_qual       0
garage_cond       0
fireplace_qu      0
dtype: int64

In [269]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               878 non-null    int64
 1   pid              878 non-null    int64
 2   ms_subclass      878 non-null    object
 3   ms_zoning        878 non-null    object
 4   lot_frontage     878 non-null    float64
 5   lot_area         878 non-null    int64
 6   street           878 non-null    object
 7   lot_shape        878 non-null    object
 8   land_contour     878 non-null    object
 9   utilities        878 non-null    object
 10  lot_config       878 non-null    object
 11  land_slope       878 non-null    object
 12  neighborhood     878 non-null    object
 13  condition_1      878 non-null    object
 14  condition_2      878 non-null    object
 15  bldg_type        878 non-null    object
 16  house_style      878 non-null    object
 17  overall_qual     878 non-null    int64
 18  overall_cond     878 non-null    int64
 19  year_built       878 non-null    int64
 20  year_remod/add   878 non-null    int64
 21  roof_style       878 non-null    object
 22  roof_matl        878 non-null    object
 23  exterior_1st     878 non-null    object
 24  exterior_2nd     878 non-null    object
 25  mas_vnr_type     878 non-null    object
 26  mas_vnr_area     878 non-null    float64
 27  exter_qual       878 non-null    object
 28  exter_cond       878 non-null    object
 29  foundation       878 non-null    object
 30  bsmt_qual        878 non-null    object
 31  bsmt_cond        878 non-null    object
 32  bsmt_exposure    878 non-null    object
 33  bsmtfin_type_1   878 non-null    object
 34  bsmtfin_sf_1     878 non-null    int64
 35  bsmtfin_type_2   878 non-null    object
 36  bsmtfin_sf_2     878 non-null    int64
 37  bsmt_unf_sf      878 non-null    int64
 38  total_bsmt_sf    878 non-null    int64
 39  heating          878 non-null    object
 40  heating_qc       878 non-null    object
 41  central_air      878 non-null    object
 42  electrical       878 non-null    object
 43  1st_flr_sf       878 non-null    int64
 44  flr2nd_sf        878 non-null    int64
 45  low_qual_fin_sf  878 non-null    int64
 46  gr_liv_area      878 non-null    int64
 47  bsmt_full_bath   878 non-null    int64
 48  bsmt_half_bath   878 non-null    int64
 49  full_bath        878 non-null    int64
 50  half_bath        878 non-null    int64
 51  bedroom_abvgr    878 non-null    int64
 52  kitchen_abvgr    878 non-null    int64
 53  kitchen_qual     878 non-null    object
 54  totrms_abvgrd    878 non-null    int64
 55  functional       878 non-null    object
 56  fireplaces       878 non-null    int64
 57  fireplace_qu     878 non-null    object
 58  garage_type      878 non-null    object
 59  garage_yr_blt    878 non-null    float64
 60  garage_finish    878 non-null    object
 61  garage_cars      878 non-null    int64
 62  garage_area      878 non-null    int64
 63  garage_qual      878 non-null    object
 64  garage_cond      878 non-null    object
 65  paved_drive      878 non-null    object
 66  wood_deck_sf     878 non-null    int64
 67  open_porch_sf    878 non-null    int64
 68  enclosed_porch   878 non-null    int64
 69  ssn3_porch       878 non-null    int64
 70  screen_porch     878 non-null    int64
 71  pool_area        878 non-null    int64
 72  misc_val         878 non-null    int64
 73  mo_sold          878 non-null    int64
 74  yr_sold          878 non-null    int64
 75  sale_type        878 non-null    object
dtypes: float64(3), int64(34), object(39)
memory usage: 521.4+ KB

In [271]:
df.drop(columns='id',inplace=True)

In [272]:
df.to_csv('datasets/Test_Data_Cleaned_All_Features.csv',index=False)